body {
    background-color: #8FC1E3;
}

h4 {
    color: #f7f9fb;
}

h3 {
    text-align: end;
    color: #687864;
}

p {
    width: 87%;
    margin: auto;
}

.img-fluid {
    width: 100%;
    max-height: 600px;
}

.col-lg-2 {
    border-right: 5px solid #687864;
}

#firstProject {
    background-color: #687864;
}

#firstAssignment {
    background-color: #687864;
}

#secondAssignment {
    background-color: #687864;
}